@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
  list-style: none;
  list-style-type: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  /* scroll-behavior: smooth; */
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

a {
  text-decoration: unset;
  color: unset;
}

/* HERO SECTION */
.home-container {
  background: url("https://images.unsplash.com/photo-1529369623266-f5264b696110?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}

.text-shadow {
  text-shadow: .5px 1px 2px hsl(0, 0%, 99%);
}

/*  */

/* POPULAR VEHICLE */
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll.active {
  cursor: grab;
  cursor: -webkit-grab;
}

/*  */
